.battery{
    background: #3a310a;
    position: relative;
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;    
    font-family: 'VT323', monospace;
    box-sizing: border-box;
    margin: 0 1px 0 1px;
    flex:1;
    
}


.battery .level{
    flex-grow: 1;
    display:flex;
    flex-direction: column;
    margin-left:5px;
    margin-right:5px;
    margin-top:3px;
    margin-bottom:3px;
    box-sizing: border-box;
    position: relative;
    background:rgba(0,0,0,.25);
    
}

.battery .level .box{
    
    background:#33FF00;
    flex:1;
    
    
}


.battery .val{
    font-size:.8em;
    color:#f5be26;
    text-align: center;
    border-top: 1px dashed #f5be26;
    overflow:hidden;
}