html,body{
    background:linear-gradient(90deg, #0a100d 50px, transparent 1%) center, 
               linear-gradient(#0a100d 50px, transparent 1%) center, 
               rgb(156, 139, 38);
    background-size:51px 51px;
    height:100%;
    margin: 0;
    overflow: hidden;
    
}
.container{
    display:flex;
    flex: 1 1 wrap;
    margin:10px;
}




