.app-message {
    background: rgb(0, 0, 0);
    border-radius: 8px;
    border: 1px solid darkgray;
    padding: 3px 2px 3px 10px;
    max-width: 100px;
    margin:3px;
    color:white;
}

body{
    background:rgb(36, 36, 36);
}

.flexbox-container{
    display:flex;
    margin:10px;
}

.sidebar{
    order: 1;
    flex:1;
    flex-basis: auto;
    min-height: 600px;
    background: #353535;
    box-shadow: 5px 5px 5px #141414;
    min-width:150px;
    max-width:150px;
}

.main{
    order:1;
    flex:5;
    margin-left:5px;
    background:#353535;
    box-shadow: 5px 5px 5px #141414;
    min-width:760px;
}