.terminal{

    background: #3a310a;
    
    
    flex-grow: 1;
    
}

/*.terminal_not_focused{
    opacity: .5;
    transition: opacity .15s linear;
}

.terminal_focused{
    
    opacity: 1;
    transition: opacity .15s linear;
}*/

.terminal .term{
    height:100px;
    width: 100%;
    color:#ffda33;
    padding-left:2px;
    padding-right:2px;
    padding-top:3px;
    overflow-wrap: break-word;
    overflow-x: hidden;
    overflow-y: hidden;
    box-sizing: border-box;
    font-family: 'VT323', monospace;
    
}

.terminal .term .historyItem{
    font-size:.75em;
    color:rgb(37, 184, 0);
}

.terminal .term .historyItem span{
    font-size:.75em;
    color:rgb(226, 181, 0)
}

.terminal .term form {
    display: flex;
    flex-grow: 1;
}

.terminal .term form span{
    font-size:1.1em;
    color: #FFCC00
}
.terminal .term form input{
    border:0px;
    flex-grow: 1;
    margin-left:2px;
    background: transparent;
    font-size:.95em; 
    color:#33FF00;
    font-family: 'VT323', monospace;
}
.terminal .term form input:focus{
    outline-width: 0;
}
